<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- ! <script src="../../../../../../lib/vue.js"></script> -->
  
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- TODO create modal APP -->
  <div id="app">
    <section>
      <h3>제목</h3>
      <div class="circle">
        <img src="../../Assets/Images/춘식이_얼굴.jpg" alt="춘식이_얼굴" id="character-logo" class="slideIn" width="100"
          height="100" ref="charLogo" @click="imgClick">
      </div>
      <div>
        <div class="item1">
          <label for="todo-list">Today TODO : </label>
          <input type="text" list="todoList" ref="todoList" id="todo-list" v-model="itemVal">
        </div>
        <div class="item2 textbox" ref="context" id="context">
          <span class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod voluptatem adipisci
            placeat
            numquam soluta laboriosam, nostrum architecto accusamus voluptates nulla!</span>
        </div>
      </div>
    </section>

    <datalist id="todoList">
      <!-- <option :value="'item1'">세면</option>
      <option :value="'item2'">공부</option>
      <option :value="'item3'">회사</option>
      <option :value="'item4'">수면</option>
      <option :value="'item5'">Nothing</option> -->
      <option :value="item" v-for="(item, idx) in todoList">{{idx+1}}</option>
    </datalist>
  </div>

  <script>
    const vm = new Vue({
      el: "#app",
      data: {
        todoList: [],
        itemVal: '',
      },
      methods: {
        imgClick() {
          this.$refs.todoList.focus();
          this.$refs.context.css
          this.itemVal = 'item5'
        }
      },
      watch: {
        itemVal(newVal) {
          if (this.todoList.find(el => el === newVal)) {
            this.$refs.context.innerHTML = `<span class="desc suc">좋은 선택입니다.</span>`
          } else {
            this.$refs.context.innerHTML = `<span class="desc err">옳지 않은 문장입니다.</span>`
          }
        }
      },
      created() {
        this.todoList = ['item1', 'item2', 'item3', 'item4', 'item5']
        this.itemVal = this.todoList[0]
      }
    })
  </script>
</body>
</html>